:root{
      --accent-color:#2196F3;
      --on-top-color:#FFFFFF;
      --h2-h3-color:#212121;
      --p-a-color:#cab7b7;
}
h1,h2,h3,p{margin-bottom: 0;margin-top: 0;}

ul,ol{margin-top: 0;margin-bottom: 0;padding-left: 0;}

img{display: block;}
.list{list-style: none;}
.link{text-decoration: none;}

body {font-family: 'Roboto', sans-serif;line-height: 1.14;font-size: 14px;}

.container{width:1200px ;
margin-left: auto;margin-right: auto;padding-left: 15px;padding-right: 15px;}
.section{padding: 94px 0;}
.box-style:not(:last-child) {margin-right: 30px;}

.visually-hidden{
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
    }

.page-header-container{display: flex;align-items: center;justify-content: space-between}

.navigation-header{display: flex;align-items: center;}

.page-header{padding-top: 24px;padding-bottom: 25px;border-bottom: 1px solid #ECECEC;}

.header-logo{margin-right: 93px;font-family: 'Raleway';
        font-weight: 700;
        font-size: 26px;
        line-height: 1.2;
        letter-spacing: 0.03em;
    color:var(--accent-color);}

.header-logotype-span{font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color:black;}
.menu-header{display: flex;}
.menu-item:not(:last-child) {margin-right: 50px;}

.menu-link{
    font-weight: 500;
    letter-spacing: 0.02em;
    color: var(--h2-h3-color);}
    
.menu-link:hover,
.menu-link:focus{color: var(--accent-color);}

.list-header{display: flex;}
.header-link-item{margin-right: 50px;}

.page-header-link{
    font-weight: 500;
    letter-spacing: 0.02em;
     color:var(--p-a-color); }

.page-header-number{
    font-weight: 500;
    letter-spacing: 0.02em;
    color: var(--p-a-color);}

.page-header-link:hover,
.page-header-link:focus {color: var(--accent-color);}
.page-header-number:hover,
.page-header-number:focus{color: var(--accent-color);}

.hero{background: #2F303A;padding-top: 200px;padding-bottom: 200px;text-align: center;}

.hero-title{box-sizing: border-box; width: 696px;height: 120px;margin-left: auto;margin-right: auto;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.39;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--on-top-color);}



.hero-main-btn{font-family: 'Roboto', sans-serif;margin-top: 30px;
    padding: 10px 32px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color: var(--on-top-color);background:var(--accent-color) ;
    cursor:pointer;}

.hero-main-btn:hover,
.hero-main-btn:focus{color: var(--on-top-color);background: #188CE8;}
  


.main-menu-list{display: flex;box-sizing: border-box;
flex-basis:calc(100%-30px)/4;}

.main-menu-item{width: 270px;
    font-weight: 700;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--h2-h3-color);}

.main-menu-sub-item{margin-top: 10px;width: 270px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--p-a-color);}


    /*======= work sample =======*/


.work-sample{padding-top: 0;}
.work-sample-list{display: flex;padding-top: 50px;}

.work-sample-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--h2-h3-color);}

   /*========= our team ==========*/

.employers-card-title{padding:30px 0; text-align: center;background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;}

.our-team-box{display: flex;padding-top: 50px;}
.our-team-head{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--h2-h3-color);}

.our-team{background: #f5f4fa;}

.our-team-mame{
        font-weight: 500;
        font-size: 16px;
        line-height: 1.18;
       /*text-align: center;*/
        letter-spacing: 0.03em;
        color: var(--h2-h3-color);}

.our-team-sub-title{margin-top: 10px;
        font-size: 16px;
        line-height: 1.18;
        text-align: center;
        letter-spacing: 0.03em;
        color: var(--p-a-color);}





   /*============== footer ============*/
.contact-footer{background: #2F303A;padding: 60px 0;}

.footer-logo {
    margin-right: 93px;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--accent-color);}

.footer-logotype-span {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color:#FFFFFF ;}

   .footer-navigation{
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--on-top-color);}
.main-address{margin-top: 20px;font-style: normal;}
    .footer-link:not(:first-child){margin-top: 9px;}
    .footer-mail,
    .footer-number{
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #ffffff99;}

    /* ============= portfolio ==============*/

.menu-portfolio-btn-list{display: flex;margin-bottom: 50px;justify-content: center;}
.menu-portfolio-btn-box:not(:last-child){margin-right: 9px;}

.menu-portfolio-btn-link{font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--h2-h3-color);
    cursor: pointer;}

.menu-portfolio-btn-link:hover,
.menu-portfolio-btn-link:focus {
    color: var(--on-top-color);background: var(--accent-color);}

.portfolio-box{display: flex;flex-wrap: wrap;}

.portfolio-title-box{padding:20px 24px;background: #FFFFFF;box-sizing: border-box;
    border: 1px solid #EEEEEE;
    /* material shadow v1 */

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;}


.main-portfolio-list:not(:nth-child(3n)) {
          margin-right: 30px;
}
.main-portfolio-list:not(:nth-last-child(-n+3)) {
        margin-bottom: 30px;}
.main-portfolio-list-title{
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--h2-h3-color);}

.main-portfolio-list-sub-title{
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--p-a-color);}
    



